.buttonMain{
    cursor: pointer;
    float: right;
    width: auto;
    height: auto;
    font-size: 15px;
    padding: 0px 20px;
    line-height: 40px;
    color: white;
    background-color: #2988beee;
    border-radius: 5px;
}