// fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
// import files
@import "_norm.scss";
body{
    background-color: rgb(209, 209, 209);
}
*{
    border-radius: 10px  10px 10px 3px;
}
section{
    width: 100vw;
    height: 100vh;
    &.accounts-screen{
        background: url("/src/img/wallpaper1.jpg");
        background-size: 100%;
        .heading{
            position: relative;
            top: 30px;
            display: block;
            margin: 0px;
            color: white;
            text-align: center;
        }
        .accounts{
            position: relative;
            top: 50vh;
            display: grid;
            float: left;
            left: 70vw;
            transform: translate(0%,-50%);
            transition-duration: 0.5s;
            .account{
                float: left;
                width: 100px;
                height: 100px;
                margin: 10px;
                
                border-radius: 50%;
                background-color: #6f6f6f;
                transition-duration: 0.1s;
                z-index: 10;
                &:hover{
                    transform: scale(1.5) translateY(0%);
                    transition-duration: 0.2s;
                    z-index: 11;
                }
                &:active{
                    transform: scale(1.5) translateY(0%);
                    transition-duration: 0.2s;
                }
                &:hover+.accountName{
                    opacity: 0;
                    transition-duration: 0.2s;
                }
            }
            .accountName{
                position: absolute;
                bottom: -30px;
                width: 100%;

                color: white;
                text-align: center;
                transition-duration: 0.1s;
            }
            .acctPassword{
                display: block;
                width: 170px;
                height: 30px;
                margin-top: 20px;

                transform: translateX(-30px);
                border-radius: 15px;
                border: 0px;
            }
            .acctDetails{
                display: block;
                width: 170px;
                height: 30px;
                margin-top: 20px;

                transform: translateX(-30px);
                border-radius: 15px;
                border: 0px;
                text-align: center;
                .loginButton{
                    padding: 5px 30px;
                    background-color: rgb(224, 224, 224);
                    color: black;
                    border-radius: 20px;
                    margin-left: 50%;
                    transform: translateX(-50%);
                }
                a{
                    font-size: 10px;
                    color: black;
                }
            }
        }
        .back{
            position: fixed;
            top: 20px;
            left: 30px;
            font-size: 35px;
            color: white;
            opacity: 0;
            transition-duration: 0.2s;
        }
    }
    &.landing-screen{
        header{
            position: fixed;
            width: 100%;
            height: 60px;
            background-color: #464646;
            z-index: 100;
            .logo{
                float: left;
                width: 50px;
                height: 50px;
                padding: 5px;
                background-color: #00000010;
            }
            .headerPanel{
                float:right;
                width: 200px;
                height: 60px;
                .dateTime{
                display: inline-block;
                .date{
                    float: right;
                    width: 200px;
                    height: 30px;
                    p{
                        margin: 10px;
                        float:right;
                        width: 70%;
                        height: 5px;
                        background-color: rgba(255, 255, 255, 0.432);
                    }
                }
                .time{
                    float: right;
                    width: 200px;
                    height: 30px;
                    p{
                        margin: 10px;
                        float:right;
                        width: 50%;
                        height: 10px;
                        background-color: rgba(255, 255, 255, 0.432);
                    }
                } 
                }
            }
            .settings{
                float: right;
                width: 50px;
                height: 50px;
                padding: 5px;
                background-color: #00000030;
            }
            .options{
                float: left;
                width: 400px;
                height: 50px;
                padding: 5px;
                background-color: #00000020;
            }
        }
        .settingsWindow{
            position: fixed;
            top: 60px;
            right: 0px;
            width: 200px;
            height: 300px;
            transform: translateY(-100%);
            background-color: rgba(97, 97, 97, 0.233);
            transition-duration: 0.2s;
            z-index: 99;
        }
        main{
            position: relative;
            width: 100%;
            padding-top: 60px;
            background-color: #cecece;
            .panels{
                display: inline-block;
            }
            .top{
                float: left;
                min-height: 40px;
                width: 100%;
                background: #49494921;
                .topPanelOption{
                    float: left;
                    width:19% ;
                    height: 10px;
                    margin:15px 0px 10px 1%;
                    background-color: #4d4d4d71;
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
            .left{
                float: left;
                width: 20%;
                padding: 40px;
                background: #00000007;
                box-sizing: border-box;
                .leftPanelOption{
                    width: 100%;
                    height: 40px;
                    margin-bottom: 5%;
                    background-color: rgba(128, 128, 128, 0.2);
                    &.randomFeature1{
                        margin-top: 40px;
                        height: 300px;
                        background-color: rgba(128, 128, 128, 0.25);
                    }
                    &.randomFeature2{
                        margin-top: 40px;
                        height: 600px;
                        background-color: rgba(128, 128, 128, 0.15);
                    }
                }
                .settings{
                    height: 20px;
                    background-color: rgba(128, 128, 128, 0.1);
                }
            }
            .right{
                float: left;
                min-height: 800px;
                width: 80%;
                padding: 40px 0px 0px 0px;
                background: #00000007;
                box-sizing: border-box;
                .articles{
                    width:50%;
                    float: left;
                    min-height: 10px;
                    article{
                        position: relative;
                        width: 100%;
                        height: auto;
                        margin-bottom: 60px;
                        background-color: rgba(184, 184, 184, 0.2);
                        .panel{

                            position: relative;
                            width: 100%;
                            height: 20px;
                            margin:0px 0px 5px 0px !important;
                            background-color: rgba(75, 75, 75, 0.1);
                            .settings{
                                float: right;
                                width: 20px;
                                height: 20px;
                                background-color: rgba(75, 75, 75, 0.2);
                                transition-duration: 0.3s;
                                &:hover{
                                    transform: scale(1.5);
                                    transition-duration: 0.1s;
                                    background-color: rgba(75, 75, 75, 0.4);
                                }
                            }
                            .panelSettingsWindow{
                                position: absolute;
                                top: 20px;
                                right: 0px;
                                height:  320px;
                                background-color: rgba(0, 0, 0, 0.05);
                                transition-duration: 0.3s;
                            }
                            &:hover{
                                transition-duration: 0.3s;
                            }
                            
                        }
                        .mainHeading{
                            position: relative;
                            width: 90%;
                            height: 50px;
                            margin:0px !important;te
                            background-color: rgba(75, 75, 75, 0.3);
                        }
                        .subHeading{
                            position: relative;
                            width: 80%;
                            height: 20px;
                            margin: 10px 0px;
                            background-color: rgba(75, 75, 75, 0.15);
                        }
                        .description{
                            position: initial;
                            height: 5px;
                            background-color: rgba(75, 75, 75, 0.55);
                            margin: 5px 0px;
                            &.place{
                                width: 100px;
                            }
                            &.date{
                                right: 20px;
                                width: 60px;
                            }
                        }
                        .content{
                            position: relative;
                            width: 100%;
                            height: 200px;
                            margin: 10px 0px;
                            background-color: rgba(75, 75, 75, 0.1);
                        }
                    }
                }
                .toToAPP{
                    float: right;
                    width: 50%;
                    padding: 0px 40px;
                    box-sizing: border-box;
                    .app{
                        width: 100%;
                        min-height: 200px;
                        margin-bottom: 40px;
                        background-color: rgba(0, 0, 0, 0.034);
                    }
                    .todo{
                        .heading{
                        width: 100%;
                        height: 40px;
                        background-color: rgba(0, 0, 0, 0.3);
                        margin: 0px;
                        .maximize{
                            float: right;
                            width: 30px;
                            height: 40px;
                            background-color: rgba(0, 0, 0, 0.4);
                            transition-duration: 0.3s;

                        }
                        }
                        .todoContent{
                            width: 100%;
                            display:inline-block;
                            padding: 20px;
                            box-sizing: border-box;
                            #todoLists{
                                float: left;
                                width: 50%;
                                transition-duration: 0.2s;
                                .todoList{
                                    width: 100%;
                                    height: 15px;
                                    background-color: rgba(0, 0, 0, 0.1);
                                    margin-bottom: 15px;
                                }
                            }
                            #todoListDetails{
                                float: right;
                                width: calc(50% - 20px);
                                min-height: 200px;
                                background-color: rgba(0, 0, 0, 0.05);
                                transition-duration: 0.2s;
                            }
                        }
                    }
                }
            }

            .panels{
                position: relative;
            }
        }
        .settingsWindow{
            position: fixed;
            top: 60px;
            right: 0px;
            width: 200px;
            height: 300px;
            transform: translateY(-100%);
            background-color: rgba(97, 97, 97, 0.6);
            z-index: 99;
            transition-duration: 0.3s;
        }
        footer{
            width: 100%;
            height: 200px;
            display: flex;
            .footerElements{
                display: table-cell;
                height: 200px;
                padding:40px;
                box-sizing: border-box;
            }
            .left{
                width: 33.3%;
                height: 200px;
                background: #0000001a;
            }
            .middle{
                width:33.3%;
                background: #00000028;
                .withLove{
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-top: 80px;
                    width: 40%;
                    height: 10px;
                    background-color: rgba(0, 0, 0, 0.205);
                }
                .techs{
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-top: 5px;
                    width: 80%;
                    height: 20px;
                    background-color: rgba(0, 0, 0, 0.205);
                }
                .copy{
                    position: relative;
                    margin-top: 20px;
                    width: 100%;
                    height: 10px;
                    background-color: rgba(0, 0, 0, 0.10);
                }
            }
            .right{
                width:33.3%;
                background: #0000001c;
            }
        }
    }
}

