// import files
@import "_norm.scss";
@import "_templates.scss";
@import "mixins/_animations.scss";
// fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,300i,400i,500,600,700,700i,800,900&display=swap');

body {
	font-family: 'Quicksand', sans-serif;
    background-color: rgba(250, 250, 250, 1)
}

* {
    border-radius: 3px 10px 10px 10px;
    transition-timing-function: cubic-bezier(0.36, 0.68, 0.46, 1);
    transition-duration: 0.1s;
}

section {
    width: 100vw;
    height: 100vh;

    &.accounts-screen {
        background: url("/src/img/wallpaper1.jpg");
        background-size: 100%;

        .heading {
            position: relative;
            top: 30px;
            display: block;
            margin: 0px;
            color: white;
            text-align: center;
        }

        .accounts {
            position: relative;
            top: 50vh;
            display: grid;
            float: left;
            left: 70vw;
            transform: translate(0%, -50%);
            transition-duration: 0.5s;

            .account {
                float: left;
                width: 100px;
                height: 100px;
                margin: 10px;

                border-radius: 50%;
                background-color: #6f6f6f;
                transition-duration: 0.1s;
                z-index: 10;

                &:hover {
                    transform: scale(1.5) translateY(0%);
                    transition-duration: 0.2s;
                    z-index: 11;
                }
                &:active {
                    transform: scale(1.5) translateY(0%);
                    transition-duration: 0.2s;
                }
                &:hover+.accountName {
                    opacity: 0;
                    transition-duration: 0.2s;
                }
            }

            .accountName {
                position: absolute;
                bottom: -30px;
                width: 100%;

                color: white;
                text-align: center;
                transition-duration: 0.1s;
            }

            .acctPassword {
                display: block;
                width: 170px;
                height: 30px;
                margin-top: 20px;

                transform: translateX(-30px);
                border-radius: 15px;
                border: 0px;
            }

            .acctDetails {
                display: block;
                width: 170px;
                height: 30px;
                margin-top: 20px;

                transform: translateX(-30px);
                border-radius: 15px;
                border: 0px;
                text-align: center;

                .loginButton {
                    padding: 5px 30px;
                    background-color: rgb(224, 224, 224);
                    color: black;
                    border-radius: 20px;
                    margin-left: 50%;
                    transform: translateX(-50%);
                }

                a {
                    font-size: 10px;
                    color: black;
                }
            }
        }

        .back {
            position: fixed;
            top: 20px;
            left: 30px;
            font-size: 35px;
            color: white;
            opacity: 0;
            transition-duration: 0.2s;
        }
    }

    &.landing-screen {
        .alertWindow{
            *{
                margin: 0px;
            }
            position: fixed;
            top: 50vh;
            left: 50vw;
            width: 300px;
            padding-bottom: 20px;
            
            background-color: rgb(231, 231, 231);
            border-radius: 15px;
            z-index: 70;
            font-family: 'Poppins';
            text-align: center;
            transform: translate(-50%,-50%) scale(0);
            border:1px solid rgb(211, 67, 67);

            box-shadow: 0px 0px 300px #e6afae;
            &:hover{
                transform: scale(2);
            }
            .closeButton{
                display: block;
                position: absolute;
                right: 0px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                color:rgb(211, 67, 67) ;
                background-color:#ebcece ;
                border:2px solid rgb(211, 67, 67);
                border-radius: 30px;
                transform: scale(1.2);
                &:hover{
                    background-color:rgb(211, 67, 67) ;
                    color:#ebcece ;
                    transform: scale(1.35);
                }
                &:active i{
                    transform: scale(2);
                    color: rgba(0, 0, 0, 0) ;

                }

                i{
                    font-size: 120%;
                    line-height: 30px;
                }

            }
            h1{
                padding: 6px;
                width: 100%;
                font-weight: 300;
                font-size: 100%;
                color: black;
                border-radius: 13px;
                box-sizing: border-box;
                border-bottom:1px solid rgb(211, 67, 67);
                background-color: rgb(235, 206, 206);
            }
            p{
                padding: 30px 10px;
                box-sizing: border-box;
                font-weight: 200;
            }
            button{
                padding: 10px 50px;
                font-weight: 400;
                border-radius: 15px;
                &:hover{
                    transform: scale(1.05);
                    transition-duration: 0.1s;
                }
                &:active{
                    color: rgba(0, 0, 0, 0) ;

                }
            }
            &.red{
                button{
                    color:rgb(211, 67, 67);
                    border: 3px solid rgb(211, 67, 67);
                    background-color:rgba(243, 151, 151, 0.418);
                    &:hover{
                        background-color:rgb(211, 67, 67) ;
                        color:#ffffff ;
                    }
                    &:active{
                        color: rgb(211, 67, 67) ;
                        letter-spacing: 1px;
                        transition-duration: 0.3s;
                    }
                }
            }
        }
        header {
            position: fixed;
            width: 100%;
            height: 60px;
            background-color: #464646;
            z-index: 100;
            border-radius: 0px;

            .geoStatus {
                float: right;
                transform: translateX(-130px);
                color: rgba(253, 255, 231, 0.432);

                i {
                    font-size: 100%;
                    ;
                    font-weight: 400;
                    margin: 5px 5px;
                }
            }

            .logo {
                float: left;
                width: calc(20% - 10px);
                height: 50px;
                font-size: 40px;
                color: rgba(255, 255, 255, 0.8);
                padding: 5px 40px;
                background-color: #00000010;
            }

            .headerPanel {
                float: right;
                width: 150px;
                height: 60px;

                .dateTime {
                    display: inline-block;
                    border-bottom: 4px solid #ef8223a2;
                    border-radius: 0px;
                    transform: translate(26px, -4px);

                    .date {
                        float: right;
                        height: 30px;

                        p {
                            margin: 0px 0px;
                            font-size: 70%;
                            text-align: right;
                            float: right;
                            padding: 0px 20px;
                            line-height: 30px;
                            color: rgba(255, 255, 255, 0.432);
                        }
                    }

                    .time {
                        float: right;
                        height: 30px;

                        p {
                            font-weight: 400;
                            font-size: 150%;
                            text-align: right;
                            margin: 0px 0px;
                            float: right;
                            padding: 0px 20px;
                            line-height: 45px;
                            color: rgba(255, 255, 255, 0.7);

                            span {
                                font-size: 70%;
                            }
                        }
                    }

                    &:hover+.graveYard {
                        transform: translate(0px, -100%);
                        transition-duration: 0.3s;
                    }

                }


                .graveYard {
                    opacity: 0.8;
                    transform: translate(100px, 0%);
                    position: fixed;
                    left: 0px;
                    top: 100vh !important;
                    width: 100vw;
                    height: 50px;
                    background: url("/src/img/graveyard.png");
                    background-position: right;
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    transition-duration: 0.5s;
                    transition-timing-function: ease-in;
                    border-radius: 0px;
                    ;
                }
            }

            .settings {
                float: right;
                width: 50px;
                height: 46px;
                padding: 5px;
                background-color: #00000010;
                cursor: pointer;
                border-radius: 0px;
                border-bottom: 4px solid #3f8d20;
                
                i {
                    width: 100%;
                    line-height: 50px;
                    font-size: 30px;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.4);
                    &:hover{
                    color:rgba(255, 255, 255, 0.589) ;
                }

                }
            }

            .search {
                float: left;
                width: 40%;
                height: 60px;

                .searchInput {
                    float: left;
                    width: calc(100% - 80px);
                    height: 25px;
                    margin: 15px 0px;
                    border: 0px;
                    border-radius: 5px 0px 0px 5px;
                    padding: 1px 20px;
                    background-color: rgba(255, 255, 255, 0.9);
                    font-size: 90%;
                    transition-duration: 0.2s;
                    box-sizing: border-box;

                    &:focus {
                        padding: 0px 10px;
                        outline: none;
                    }
                }

                .searchButton {
                    float: right;
                    top: 0px;
                    width: 80px;
                    height: 25px;
                    margin: 15px 0px;
                    padding: 0px 15px;
                    border: 0px;

                    text-align: left;
                    font-size: 80%;
                    border-radius: 0px 5px 5px 0px;
                    background-color: rgba(255, 255, 255, 0.5);
                    box-sizing: border-box;
                    transition-duration: 0.2s;
                    cursor: pointer;

                    i {
                        display: none;
                        float: right;
                        opacity: 0.7;
                        color: rgb(179, 179, 179);
                        transition-duration: 0.2s;
                    }

                    &:hover {
                        width: 110px;
                        transition-duration: 0.2s;
                        color: white;
                        background-color: rgba(0, 0, 0, 0.4);
                    }

                    &:active {
                        width: 110px;
                        transition-duration: 0.3s;
                        color: black;
                        background-color: rgba(206, 206, 206, 0.4);
                    }

                    &:active>i {
                        color: black;
                        opacity: 1;
                        transition-duration: 0.2s;
                    }

                    &:hover~.searchInput {
                        width: calc(100% - 110px);
                        transition-duration: 0.2s;
                    }

                    &:hover i {
                        display: block;
                        opacity: 1;
                        transition-duration: 0.2s;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .settingsWindow {
            position: fixed;
            top: 60px;
            right: 0px;
            width: 200px;
            height: 300px;
            transform: translateY(-100%);
            background-color: rgba(97, 97, 97, 0.233);
            transition-duration: 0.2s;
            z-index: 99;
        }

        .settingsWindowSubBottom {
            position: fixed;
            top: 750px;
            right: 0px;
            width: 200px;
            height: 300px;
            transform: translateY(-100%);
            background-color: rgba(92, 92, 92, 0.01);
            transition-duration: 0.2s;
            z-index: 99;

            .settingsOptionSub {
                width: 30px;
                height: 30px;
                margin: 10px 10px 10px auto;
                background-color: rgba(80, 80, 80, 0.76);
                transform: translateX(100px);
                transition-duration: 0.1s;

                &:hover {
                    transform: scale(1.2) rotate(-90deg) !important;
                    transition-duration: 0.2s;
                }
            }
        }

        main {
            position: relative;
            width: 100%;
            padding-top: 60px;
            background-color: #cecece;

            .panels {
                display: inline-block;
            }

            .top {
                float: left;
                height: 40px;
                width: 100%;
                padding: 0px 30px;
                background: #49494921;
                z-index: 80;
                box-sizing: border-box;

                .topPanelOption {
                    position: relative;
                    float: left;
                    width: 10%;
                    margin-right: 20px;
                    .dropdownIcon{
                        float: right;
                        color: rgba(0, 0, 0, 0.7)
                    }

                    .topPanelOption-heading {
                        cursor: s-resize;
                        width: 100%;
                        font-size: 100%;
                        font-weight: 400;;
                        padding: 3px 20px;
                        margin: 5px 0px;
                        box-sizing: border-box;
                        &:hover {
                            background-color: #8a8a8ab0;
                            transition-duration: 0.2s;

                        }
                    }

                    .topPanelOption-list {
                        width: 100%;
                        background-color: #e4e4e4da;
                        overflow: hidden;
                        height: 0px;
                        min-height: 0px;
                        margin: 0px;
                        transition-duration: 0.2s;
                        box-sizing: border-box;
                        border-radius: 0px 0px 5px 5px;
                        border: 1px solid rgba(0, 0, 0, 0.198);
                        .topPanelOption-listBTN{
                            cursor: pointer;
                            padding: 5px 10px;
                            margin: 0px;
                            &:hover{
                                background-color: rgba(255, 255, 255, 0.5);
                            }

                        }
                    }

                    .topPanelOption-list-active {
                        height: auto;
                        min-height: 100px;
                        transition-duration: 0.3s;
                    }

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }

            .left {
                font-family: 'Poppins';
                float: left;
                width: 20%;
                padding: 40px;
                box-sizing: border-box;

                .leftPanelOption {
                    display: block;
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                    background-color: rgba(212, 212, 212, 0.815);
                    border-radius: 3px;
                    border: 1px solid rgba(0, 0, 0, 0.05);

                    .leftPanelLabel {
                        cursor: s-resize;
                        width: 100%;
                        height: 40px;
                        font-size: 50%;
                        padding-left: 20px;
                        background-color: rgba(228, 228, 228, 0.15);
                        box-sizing: border-box;
                        line-height: 40px;
                        border-radius: 3px;
                        .dropdownIcon{
                            float:right;
                            line-height: 40px;
                        }
                        h1{
                            font-weight: 300;
                            i{
                                margin-right: 10px;
                            }
                        }
                    }
                    .leftPanelLabel_active{
                        cursor: n-resize !important;
                        h1{

                        }
                    }

                    .leftPanelOptions {
                        cursor: pointer;
                        width: 100%;
                        height: 0px;
                        overflow: hidden;
                        transition-duration: 0.3s;
                        border-radius: 3px;
                        &:hover {
                            transition-duration: 0.1s;
                        }
                        a{
                            color: rgb(85, 85, 85);
                        }
                        .leftPanelOption {
                            width: 100%;
                            margin: 0px  !important;
                            padding: 4px 20px;
                            padding-left: 20px;
                            line-height: 30PX;
                            font-weight: 300;
                            font-size: 80%;
                            box-sizing: border-box;
                            border-radius: 1px;
                            transition-duration: 0.1s;
                            background-color: rgb(241, 241, 241);
                            i{
                                margin-right: 10px;
                            }
                            &:HOVER {
                                background-color: rgba(240, 240, 240, 0.5);
                                transition-duration: 0.1s;
                            }
                            &:first-child {
                                
                            }
                        }
                    }

                    .showOptions {
                        width: 100%;
                        height: auto;
                        transition-duration: 0.3s;
                        & + .leftPanelLabel{
                            cursor: n-resize !important;
                        }

                    }

                    &.randomFeature1 {
                        margin-top: 40px;
                        height: 300px;
                        background-color: rgb(128, 128, 128);
                    }

                    &.randomFeature2 {
                        margin-top: 40px;
                        height: 600px;
                        background-color: rgba(128, 128, 128, 0.876);
                    }
                }

                .settings {
                    display: inline-block;
                    background-color: rgba(128, 128, 128, 0.0);
                    margin-bottom: 5px;
                    border: 0px;;
                    .leftPanelEdit{
                        cursor: pointer;
                        display: block;
                        float: right;
                        margin: 0px;
                        font-size: 80%;
                        font-weight: 300;
                        color:rgb(83, 83, 83) ;
                        i{
                            font-size: 90%;
                        }
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .calendar{
                    text-align: center;
                    margin-top: 20px;
                    padding-top: 10px;
                    border-top: 1px  solid rgba(0, 0, 0, 0.3);
                    border-radius: 2px;
                    h1{
                        font-weight: 200;
                        font-size: 100%;
                        margin-bottom: 10px;
                        .expand{
                            float:right;
                            color: rgba(0, 0, 0, 0.7);
                            transition-duration: 0.2s;
                            &:hover{
                                transform: scale(1.3);
                                color: rgba(0, 0, 0, 0.9);
                                transition-duration: 0.1s;
                            }
                            &:active{
                                transform: scale(2);
                                color: rgba(0, 0, 0, 0) ;
            
                            }
                        }
                    }
                    .main{
                        width: 100%;
                        padding:5px;
                        color: white;
                        background-color: rgb(255, 80, 80);
                        border-radius: 2px 2px 10px 10px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        .monthSwitch-left{
                            cursor: w-resize;
                            float: left;
                            padding: 0px 5px;
                            &:active{
                                color: rgb(168, 31, 31);
                                transform: scale(1.3);
                            }
                        }
                        .monthSwitch-right{
                            cursor: e-resize;
                            float: right;
                            padding: 0px 5px;
                            &:active{
                                color: rgb(168, 31, 31);
                                transform: scale(1.3);
                            }
                        }
                    }
                    .container{
                        display: inline-block;
                        width: 100%;
                        padding:5px;
                        color: white;
                        background-color: rgb(230, 230, 230);
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        .cell{
                            cursor: pointer;
                            display: inline-block;
                            float: left;
                            width:10%;
                            margin: 1%;
                            padding: 1%;
                            height: 20px;
                            color: rgb(68, 68, 68);
                            background:rgba(0, 0, 0, 0.1);
                            transition-duration: 0.2s;
                            &.today{
                                color: rgb(235, 235, 235);
                                background:rgba(0, 0, 0, 0.4);
                                transform: scale(1.1);
                            }
                            &:hover{
                                color: rgb(240, 240, 240);
                                background:rgba(0, 0, 0, 0.5);
                                transform: scale(1.3);
                            }
                        }
                    }
                }
            }

            .right {
                float: left;
                min-height: 800px;
                width: 80%;
                padding: 40px 0px 0px 0px;
                box-sizing: border-box;
                
                .infinity-loader{
                    margin-left: 16%;
                    margin-bottom: 10px;
                    width: 20%;
                    height: 100px;
                    background:url("https://media3.giphy.com/media/Zcc3ZeeZ5ztdw1oNSB/giphy.gif");
                    background-size:  auto 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    img{
                        width: 100%;
                    }
                }
                .articles {
                    width: 50%;
                    float: left;
                    min-height: 10px;

                    article {
                        font-family: 'Poppins';
                        position: relative;
                        width: 100%;
                        height: auto;
                        margin-bottom: 60px;
                        border: 1px solid rgba(0, 0, 0, 0.03);
                        background-color: rgba(184, 184, 184, 0.1);
                        z-index: 39;
                        .panel {

                            position: relative;
                            width: 100%;
                            height: 20px;
                            margin: 0px 0px 5px 0px !important;
                            border: 1px solid rgba(0, 0, 0, 0.03);
                            background-color: rgba(75, 75, 75, 0.03);

                            .settings {
                                float: right;
                                width: 20px;
                                height: 20px;
                                font-size: 70%;
                                text-align: center;
                                line-height: 20px;
                                background-color: rgba(75, 75, 75, 0.2);
                                transition-duration: 0.2s;

                                &:hover {
                                    transition-duration: 0.2s;
                                    background-color: rgba(75, 75, 75, 0.4);
                                }
                            }

                            .panelSettingsWindow {
                                position: absolute;
                                overflow: hidden;
                                top: 20px;
                                right: 0px;
                                width: 0px;
                                background-color: #e6e6e6f3;
                                font-weight: 300;;
                                box-sizing: border-box;
                                transition-duration: 0.2s;
                                z-index: 40;
                            }

                            .panelSettingsWindow-active {
                                border: 1px solid rgba(0, 0, 0, 0.185);
                                width: 200px;
                                transition-duration: 0.1s;
                            }
                            p{
                                margin: 0px;
                                padding:10px 20px;
                                transition-duration: 0.2s;
                                &:hover{
                                    background-color: rgba(255, 255, 255, 0.5);
                                    transition-duration: 0.1s;
                                }
                                i{
                                    width: 30px
                                }
                            }
                            &:hover {
                                transition-duration: 0.3s;
                            }

                        }

                        .mainHeading {
                            position: relative;
                            width: 90%;
                            margin: 0px !important;
                            font-weight: 400;
                            padding:10px 30px 0px 30px;
                            box-sizing: border-box;
                        }

                        .subHeading {
                            position: relative;
                            width: 80%;
                            margin: 10px 0px 0px 0px;
                            font-size: 120%;
                            font-weight: 300;
                            padding:0px 30px;
                            box-sizing: border-box;
                        }

                        .description {
                            position: initial;
                            text-align: right;
                            margin: -1px 0px;
                            font-size: 11px;
                            font-weight: 400;
                            padding:0px 30px;
                            box-sizing: border-box;
                            i{
                                width: 10px;
                                font-size: 80%;
                                color: rgba(0, 0, 0, 0.6);
                            }
                            &.place {
                            }

                            &.date {
                                right: 20px;
                                font-weight: 200;
                            }
                        }

                        .content {
                            position: relative;
                            text-indent: 40px;
                            width: 100%;
                            padding-bottom: 20px;
                            margin: 10px 0px;
                            padding:0px 30px;
                            box-sizing: border-box;
                            line-height: 1.7;
                            font-weight: 200;
                        }
                    }

                    .editor {
                        display: inline-block;
                        width: 100%;
                        height: 20px;
                        margin-bottom: 20px;
                        background-color: rgba(255, 255, 255, 0);

                        .buttons {
                            cursor: pointer;
                            display: inline-block;
                            padding: 5px 10px;
                            margin-right: 15px;
                            background-color: rgb(128, 128, 128);
                            color: white;
                            font-weight: medium;
                            text-align: center;
                        }

                        .rightTools {
                            float: right;
                            margin-right: 0px;
                        }
                    }

                    .addPost {
                        min-height: 200px;
                        padding: 0px;
                        border: 1px solid rgba(51, 104, 58, 0.6);
                        input,
                        textarea {
                            border: 0px;
                            border-radius: 1px;
                            width: 100%;
                            min-height: 40px;
                            margin-bottom: 1px;
                            padding: 10px;
                            box-sizing: border-box;
                            background-color: rgba(255, 255, 255, 0.05);
                            border-bottom: 1px solid rgba(0, 0, 0, 0.199);
                            &:focus {
                                outline: none;
                            }
                        }
                        .addPostPanel{
                            display: inline-block;
                            border: 0px;
                            border-radius: 1px;
                            width: 100%;
                            margin-bottom: 1px;
                            padding: 10px;
                            box-sizing: border-box;
                            background-color: rgba(0, 0, 0, 0.03);
                            .buttonMain{
                                background-color: #1bab2d;
                            }


                        }

                        .addMainHeading {
                            height: 50px !important;
                            font-size: 150%;
                            background-color: rgba(0, 0, 0, 0.02);
                        }

                        .addContent {
                            height: auto;
                            background-color: rgba(0, 0, 0, 0.0);
                            width: 100% !important;
                            font-size: 80%;
                            margin: 0px !important;
                            padding: 10px 30px;
                        }
                    }
                }

                .toToAPP {
                    float: right;
                    width: 50%;
                    padding: 0px 40px;
                    box-sizing: border-box;

                    .app {
                        width: 100%;
                        min-height: 200px;
                        margin-bottom: 40px;
                        background-color: rgba(0, 0, 0, 0);
                    }

                    .todo {
                        .heading {
                            width: 100%;
                            height: 40px;
                            background-color: rgb(93, 168, 211);
                            margin: 0px;

                            p {
                                font-weight: bold;
                                float: left;
                                width: 90%;
                                text-align: center;
                                line-height: 40px;
                                ;
                                margin: 0px;
                            }

                            .maximize {
                                cursor: col-resize;
                                float: right;
                                width: 30px;
                                height: 40px;
                                background-color: rgba(0, 0, 0, 0.4);
                                transition-duration: 0.3s;

                            }
                        }

                        .todoContent {
                            width: 100%;
                            display: inline-block;
                            padding: 20px;
                            border: 1px solid#3987b486;
                            box-sizing: border-box;

                            #todoLists {
                                float: left;
                                width: 100%;
                                transition-duration: 0.2s;

                                .todoList {
                                    width: 100%;
                                    height: 25px;
                                    margin-bottom: 15px;

                                    &.panel {
                                        height: auto;
                                        background: rgba(0, 0, 0, 0.068);
                                        margin-bottom: 0px;

                                        .addTaskSubmit {
                                            cursor: context-menu;
                                            float: right;
                                            width: auto;
                                            height: 40px;
                                            font-size: 15px;
                                            padding: 0px 20px;
                                            color: white;
                                            background-color: #2988beee;

                                            &.left {
                                                float: left;
                                                background-color: #ffffff00;
                                                border: 0px;
                                                outline: none;
                                                font-size: 20px;
                                                padding: 5px 5px;
                                            }

                                            &.importent {
                                                color: rgb(206, 65, 65);

                                                &:hover {
                                                    color: rgb(218, 36, 36);
                                                    transform: scale(1.2);
                                                    transition-duration: 0.1s;

                                                }
                                            }

                                            &.leaf {
                                                color: rgb(57, 138, 63);

                                                &:hover {
                                                    color: rgb(8, 163, 78);
                                                    transform: scale(1.2);
                                                    transition-duration: 0.1s;

                                                }
                                            }

                                            &.college {
                                                color: rgb(28, 199, 148);

                                                &:hover {
                                                    color: rgb(6, 179, 115);
                                                    transform: scale(1.2);
                                                    transition-duration: 0.1s;

                                                }
                                            }
                                        }

                                        #addTask {
                                            cursor: url("../img/icons/addReminder.cur"), auto;
                                        }

                                    }

                                    .taskName {
                                        float: left;
                                        height: 25px;
                                        line-height: 25px;
                                        width: calc(100% - 30px);
                                        margin: 0px;
                                        padding: 0px 0px 0px 0px;
                                        background-color: rgba(0, 0, 0, 0);
                                        box-sizing: border-box;

                                    }

                                    i.delete {
                                        cursor: pointer;
                                        text-align: center;
                                        font-size: 25px;
                                        float: right;
                                        width: 25px;
                                        height: 25px;
                                        color: rgb(211, 20, 20);
                                        transition-duration: 0.3s;

                                        &.red {
                                            color: rgb(211, 20, 20);
                                            transition-duration: 0.1s;

                                        }

                                        &.green {
                                            color: rgb(32, 173, 14);
                                            transition-duration: 0.1s;

                                        }

                                        &:hover>p.taskName {
                                            background-color: rgba(90, 25, 25, 0.089) !important;
                                        }
                                    }
                                }

                                .addTask {
                                    width: 100%;
                                    border: 0px;
                                    padding-top: 20px;
                                    margin-bottom: 15px;
                                    border: 1px  solid rgba(0, 0, 0, 0.15)
                                }
                            }

                            #todoListDetails {
                                float: right;
                                width: 0px;
                                min-height: 200px;
                                background-color: rgba(0, 0, 0, 0.05);
                                transition-duration: 0.2s;
                            }
                        }
                    }
                }
            }

            .panels {
                position: relative;
            }
        }

        .settingsWindow {
            position: fixed;
            top: 60px;
            right: 0px;
            width: 200px;
            height: 300px;
            transform: translateY(-100%);
            background-color: rgba(97, 97, 97, 0.6);
            z-index: 99;
            transition-duration: 0.3s;
        }

        .desktop-wave{
            position: fixed;
            bottom: 0px;
            height: 5px;
            width: 100vw;
            position: bottom;
            background-blend-mode: darkens;
            background-size: auto 100%;
        }
        .desktop-wave-top{
            position: fixed;
            top: 0px;
            height: 5px;
            width: 100vw;
            background-size: auto 100%;
            z-index: 105;
        }
        footer {
            width: 100%;
            padding: 30px 40px 10px 40px;
            background: #ffffff;
            border-top: 2px solid rgba(0, 0, 0, 0.05);
            box-sizing: border-box;
            display: flex;

            .footerElements {
                display: table-cell;
                border-radius: 0px;
                box-sizing: border-box;
            }
            .left{
                width: 15%;
                a{
                    display: list-item;
                    list-style: none;
                    color: rgb(87, 87, 87);
                    line-height: 25px;
                }
            }
            .middle {
                width: 50%;
                text-align: center;

                .withLove {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 40%;
                    text-align: center;
                    .love{
                        color: rgb(228, 66, 66);
                        &:hover{
                            color: rgb(226, 47, 47);
                        }
                    }
                }
                .techs {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-top: 5px;
                    width: 80%;
                    color: rgba(0, 0, 0, 0.7);
                    .footer-tech-i{
                        padding: 4px;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
                .copy {
                    position: relative;
                    margin-top: 30px;
                    padding-bottom: 0px;
                    width: 100%;
                    text-align: center;
                    font-size: 80%;
                }
            }
            .right{
                width: 15%;
                text-align: right;
                a{
                    display: list-item;
                    list-style: none;
                    color: rgb(87, 87, 87);
                    line-height: 25px;
                }
                .appVersion{
                    position: fixed;
                    right: 50px;
                    bottom: 40px;
                    .appDetails{
                        margin: 0px;
                        &.ver{
                            color: rgba(0, 0, 0, 0.8);
                        }
                        &.dev{
                            font-size: 70%;
                            color: rgba(0, 0, 0, 0.6);
                        }
                    }
                }
            }

        }
        .veryBottomFooter{
            width: 100%;
            height: 20px;
            padding: 5px 5px;
            background-color: rgb(235, 235, 235);
            line-height: 10px;
            text-align: center;
            a{
                font-size: 70%;
                margin: 0px 3px;
                font-weight: 600;
                letter-spacing: 0.8px;
                color: rgb(93, 93, 93) !important;
            }
        }
    }
}